[Desktop Entry]
Name=LocalDrop
GenericName=Peer-to-Peer File Transfer
Comment=Transfer files privately and securely across local Wi-Fi networks
Exec=localdrop %U
Icon=localdrop
Terminal=false
Type=Application
Categories=Network;FileTransfer;Utility;
Keywords=p2p;transfer;lan;wifi;share;localdrop;
StartupNotify=true
MimeType=x-scheme-handler/localdrop;
