[Desktop Entry]
Name=Najikify
GenericName=Peer-to-Peer File Transfer
Comment=Transfer files privately and securely across local Wi-Fi networks
Exec=najikify %U
Icon=najikify
Terminal=false
Type=Application
Categories=Network;FileTransfer;Utility;
Keywords=p2p;transfer;lan;wifi;share;najikify;
StartupNotify=true
StartupWMClass=com.najikify.app
MimeType=x-scheme-handler/najikify;
X-GNOME-UsesNotifications=false
