Source: najikify
Section: net
Priority: optional
Maintainer: Ankit Khatri KC <ankikhatrik6@gmail.com>
Build-Depends: debhelper (>= 11), cmake, ninja-build, libgtk-3-dev, pkg-config
Standards-Version: 4.5.0
Homepage: https://github.com/ankitkhatrik6/najikify

Package: najikify
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgtk-3-0, libsqlite3-0
Description: Private peer-to-peer file transfer application
 Najikify is a private peer-to-peer file transfer utility that allows users
 to transfer files and directories directly between devices connected to the
 same local network without cloud accounts or third-party servers.
